{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading">Your Cart</h2>
        <a href="{% url 'products' %}" class="text-decoration-none back-link">
            <span>
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
    </div>
    
    <div class="col-10 p-3 mx-auto bag-container">
        {% if bag_items %}
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="bag-header" scope="col">Product Info</th>
                        <th class="bag-header" scope="col"></th>
                        <th class="bag-header" scope="col">Price</th>
                        <th class="bag-header" scope="col">Qty</th>
                        <th class="bag-header" scope="col">Subtotal</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="product-image mx-auto" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0 navy-text"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form method="POST" class="update-form" action="{% url 'edit_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <!-- Button to decrease the quantity  -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn quantity-btn btn-sm rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <!-- Button to increase the quantity  -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm quantity-btn rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info text-decoration-none"><i class="fa-solid fa-pen"></i></a>
                            <a class="remove-item text-danger text-decoration-none" data-product-size="{{ item.size }}" id="remove_{{ item.item_id }}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-end">
                        <h6 class="navy-text">Bag Total: €{{ total|floatformat:2 }}</h6>
                        <h6 class="navy-text">Delivery: €{{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-3 navy-text"><strong>Total Cost: €{{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger navy-text">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-end">
                        <a href="{% url 'products' %}" class="btn keep-shopping-btn">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Keep Shopping</span>
                        </a>
                        <a href="" class="btn add-to-btn">
                            <span>Secure Checkout</span>
                            <span>
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
            <p class="lead my-5">Your bag is empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}