{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}- Bag{% endblock %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading">Your Cart</h2>
        <a href="{% url 'products' %}" class="text-decoration-none back-link">
            <span>
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
    </div>

    <div class="col-10 p-3 mx-auto bag-container">
        {% if bag_items %}
        <div class="d-block d-md-none">
            <div class="row">
                <div class="col">
                    {% include "bag/bag-total.html" %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% include "bag/checkout-buttons.html" %}
                    <p class="my-3 navy-text">A summary of products in cart is below:</p>
                </div>
            </div>
            {% for item in bag_items %}
            <div class="row">
                <div class="col-12 col-sm-6 mb-3 text-center">
                    {% include "bag/product-image.html" %}
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    {% include "bag/product-info.html" %}
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    {% include "bag/quantity-form.html" %}
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <p class="my-0"><strong>Price:</strong> €{{ item.product.price }}</p>
                    <p class="my-0"><strong>Subtotal:</strong> €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>

            {% if forloop.last %}
            <hr class="my-0">
            {% else %}
            <hr class="mt-0 mb-3">
            {% endif %}

            {% endfor %}
        </div>
        <div class="table-responsive d-none d-md-block">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="bag-header" scope="col">Product Info</th>
                        <th class="bag-header" scope="col"></th>
                        <th class="bag-header" scope="col">Price</th>
                        <th class="bag-header" scope="col">Qty</th>
                        <th class="bag-header" scope="col">Subtotal</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                <tr>
                    <td class="p-3 w-25">
                        {% include "bag/product-image.html" %}
                    </td>
                    <td class="py-3">
                        {% include "bag/product-info.html" %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">€{{ item.product.price }}</p>
                    </td>
                    <td class="py-3 w-25">
                        {% include "bag/quantity-form.html" %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-end">
                        {% include "bag/bag-total.html" %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-end">
                        {% include "bag/checkout-buttons.html" %}
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <p class="lead my-5">Your bag is empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>
{% endblock %}