{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid hero-section">
    <div class="row">
        <div class="col-12 col-md-6 mt-2 text-center align-self-center">
            <h1 class="py-4">Quality Products From Chemstore</h1>
            <p>Providing quality products from the people at Chemstore.</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success rounded-1">Shop Now</button>
            </div>
        </div>

        <div class="col-12 col-md-6 text-center align-self-top">
            <img src="../static/media/laptop-pay.png" class="hero-image" alt="Illustration of ecommerce transaction">
        </div>
    </div>
</div>
{% endblock %}

