{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 mt-2 text-center">
        <h1>Chem-eShop, an online store by Chemstore</h1>
        <p>Providing quality products from the people at Chemstore</p>
    </div>

    <div class="col-12 col-md-6 text-center">
        <p>This will be an image</p>
    </div>

    <div class="d-none d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-succes rounded-1">Featured Product</button>
    </div>

    <div class="d-flex d-md-none justify-content-center">
        <button type="button" class="btn btn-success rounded-1">Featured Product</button>
    </div>
</div>
{% endblock %}

