@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --chem-navy: #2d3347;
    --chem-green: #98c244;
    --chem-red: #e6554d;
    --chem-blue: #2eb2ff;
    --chem-white: #f8f8f8;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--chem-white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
    color: var(--chem-white);
}

.navy-text {
    color: var(--chem-navy);
}

.off-white-text {
    color: var(--chem-white);
}

/* Header, Logo and Nav Styling */
.header {
    background-color: var(--chem-navy);
}

.header a {
    color: var(--chem-white);
}

.header a:hover {
    color: var(--chem-green);
}

.logo {
    margin-left: 20px;
    height: 30px;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 248, 248, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
    color: var(--chem-white);
}
.collapsed {
    color: var(--chem-white);
}

.nav-link .dropdown-toggle .show {
    color: var(--chem-white);
}

.dropdown-menu {
    background-color: var(--chem-green);
    color: var(--chem-navy);
}

.dropdown-toggle, .show {
    color: var(--chem-white) !important;
}

/* Hero Section Styling */

.hero-section {
    background-color: var(--chem-navy);
    height: 60vh; /* ADD MEDIA QUERY TO MAKE 1OOvh WHEN THEY STACK */
}

.hero-image {
    width: 350px;
}

.cart-total {
    display: block;
    text-align: center;
    background-color: var(--chem-green);
    color: var(--chem-white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
}

.nav-link {
    padding-right: 0 !important;
}
/* Button Styling */

.main-btn {
    background-color: var(--chem-green);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--chem-white);
    color: var(--chem-white);
    transition-duration: 0.4s;
}

.main-btn:hover {
    background-color: var(--chem-white);
    border: 2px solid var(--chem-green);
    color: var(--chem-green);
}

/* All products Page */

.cover {
    background-color: var(--chem-navy);
}

hr {
    color: var(--chem-navy);
}

.product-container {
    background-color: var(--chem-white);
}

.product-image {
    height: 100px;
}

.product-name {
    color: var(--chem-green);
    font-weight: bold;
}

.product-name:hover {
    color: var(--chem-green);
    font-weight: bold;
}

.product-price {
    color: var(--chem-navy);
    font-weight: 500;
}

.product-box {
    background-color: var(--chem-white);
    border-radius: 4px;
    padding: 10px;
}

/* Product Sorting */

.search-term-output {
    color: var(--chem-white);
    margin-bottom: 0;
}

.sort-box {
    padding: 0 10px;
    margin-bottom: 5px;
}

.custom-select {
    color: var(--chem-navy);
    font-weight: 500;
}

.sort-box-border {
    border-width: 2px;
    color: var(--chem-green);
}

/* Product detail page  */

.product-detail-box {
    background-color: var(--chem-white);
    border-radius: 4px;
    padding: 10px;
    color: var(--chem-navy);
}

.product-detail-image {
    height: 300px;
}

.quantity-btn {
    background: var(--chem-green) !important;
    color: var(--chem-white) !important;
    border: 1px solid var(--chem-green) !important;
}

.add-to-btn {
        background: var(--chem-green) !important;
        color: var(--chem-white) !important;
        border: 1px solid var(--chem-green) !important;
}

.add-to-btn:hover {
    background: var(--chem-white) !important;
    color: var(--chem-green) !important;
    border: 1px solid var(--chem-green) !important;
}

.keep-shopping-btn {
    background: var(--chem-white) !important;
    color: var(--chem-green) !important;
    border: 1px solid var(--chem-green) !important;
}

.keep-shopping-btn:hover {
    background: var(--chem-green) !important;
    color: var(--chem-white) !important;
    border: 1px solid var(--chem-green) !important;
}
/* Bag page  */

.back-link {
    color: var(--chem-white);
}

.back-link:hover {
    color: var(--chem-green);
}

.bag-container {
    background-color: var(--chem-white);
    color: var(--chem-navy);
    border-radius: 5px;
}

.bag-header {
    color: var(--chem-green);
    font-weight: bolder;
}