{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading">Error 404: Page Not Found</h2>
    </div>
    <div class="mx-auto text-center">
        <img src="{{ MEDIA_URL }}404-page.png" class="img-404" alt="404 page not found">
        <p class="off-white-text">Sorry, we can't seem to find that page.</p>

        <a href="{% url 'products' %}" class="btn add-to-btn mt-3">
            <span>
                <i class="fa-sharp fa-solid fa-house"></i>
            </span>
            <span>Return to Homepage</span>
        </a>
    </div>
</div>
{% endblock %}
