{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading">Error 500: Internal Server Error</h2>
    </div>
    <div class="mx-auto text-center">
        <img src="{{ MEDIA_URL }}500-page.png" class="img-404" alt="500 error Internal Server Error">
        <p class="off-white-text">Uh oh, something's broken.</p>

        <a href="{% url 'products' %}" class="btn add-to-btn mt-34">
            <span>
                <i class="fa-sharp fa-solid fa-house"></i>
            </span>
            <span>Return to Homepage</span>
        </a>
    </div>
</div>
{% endblock %}
