{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading">Edit Review</h2>
    </div>

    <div class="row mx-auto">
        <div class="col-10 col-lg-6">
            <form action="{% url 'edit_review' review.id %}" method="POST">
                {% csrf_token %}
                
                {{ form|crispy }}
                    <!-- Submit Button -->
                    <input type="submit" class="btn add-to-btn my-2" value="Leave Review">
                    <button type="button" class="btn cancel-btn ms-1" data-bs-toggle="modal" data-bs-target="#delete-{{product.id}}">
                        Delete Review
                    </button>
                </div>
            </form>
        </div>

</div>

{% endblock %}