{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="{{ product.description|truncatechars:300 }}">
    <meta name="keywords" content="{{ product.name }}" >
{% endblock %}

{% block extra_title %}- {{ product.name }}{% endblock %}

{% block content %}
<div class="cover">
    <div class="col text-center py-3">
        <h2 class="product-heading"></h2>
    </div>
    <!-- Product Detail Container -->
    <div class="container-fluid text-center">
        <div class="row px-4 d-flex justify-content-center product-detail-box mx-auto">
            <div class="col-md-6">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="product-detail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details-container mt-4 ms-4 text-start">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <p class="lead"><strong>€{{ product.price }}</p></strong> 
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description|safe }}</p>
                </div>
                <div class="text-start ms-4">
                    <a href="{% url 'edit_product' product.id %}" class="update-link text-info text-decoration-none"><i class="fa-solid fa-pen"></i></a>
                    <button type="button" class="remove-item text-danger text-decoration-none ms-1 shadow-none delete-btn" data-bs-toggle="modal" data-bs-target="#delete-{{product.id}}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12 ms-4 text-start">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                            </div>
                            {% endif %}
                            {% endwith %}
                        <div class="col-12 ms-4 text-start">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <!-- Button to decrease the quantity  -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn quantity-btn rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <!-- Button to increase the quantity  -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn quantity-btn rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button to go back to all products page -->
                        <div class="col-12 ms-4 text-start">
                            <a href="{% url 'products' %}" class="btn keep-shopping-btn mt-5">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping</span>
                            </a>
                            <!-- Button that adds product to bag -->
                            <input type="submit" class="btn add-to-btn mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- User Review Form -->
    <div class="row mx-auto">
        <div class="col-10 col-lg-6">
            <form action="{% url 'add_review' product.id %}" method="POST">
                {% csrf_token %}
                <h5 class="green-text my-4">Have you used this product?</h5>
                <div>
                    <!-- Rating out of 5 stars -->
                    {% if request.user.is_authenticated %}
                    <label class="mb-2">What rating would you give it?</label>
                        <br>
						<div class="rating">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
                        <br>
                    <!-- Review Title  -->
                    <p class="my-0">Review Title:</p> 
                    <input type="text" class="form-control my-2" name="title">

                    <!-- Review Body  -->
                    <p class="my-0">Review:</p> 
                    <textarea name="review" rows="4" class="form-control my-2"></textarea>

                    <!-- Submit Button -->
                        <input type="submit" class="btn add-to-btn my-2" value="Leave Review">
                    {% else %}
                        <p>You must be logged in to post a review.</p>
                        <a class="btn add-to-btn" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
            </form>
        </div>

        <!-- Break comes in when screen is at small size -->
        <hr class="my-3 d-block d-lg-none footer-break">
        <!-- User reviews -->
        <div class="col-12 col-md-10 col-lg-6">
            <h5 class="green-text my-4 ms-lg-5 text-start">What did our customers think of it?</h5>
            {% for review in reviews %}
            <div class="ms-mx-5 review-card text-start navy-text">
                
                <p class="green-text"><strong>{{ review.title }}</strong></p>
                <p>{{ review.review }}</p>
                <p>Review by: {{ review.user }} | <span class="green-text"><strong><i class="fas fa-star mr-1"></i>  {{ review.rating }} / 5</strong></span></p>

                {% if request.user.username|lower == review.user|lower %}
                    <a href="{% url 'edit_review' review.id %}" class="update-link text-info text-decoration-none"><i class="fa-solid fa-pen"></i></a>
                {% endif %}

            </div>
            {% empty %}
                <div class="text-start ms-lg-5 my-4">
                    <p>Sorry, nobody has left a review for this product yet.</p>
                </div>
            {% endfor %}
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="delete-{{product.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5 navy-text" id="exampleModalLabel">Product Deletion</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
                <p class="navy-text">You are about to delete this product permanently. Are you sure?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete Permanently</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<!-- Javascript for modal -->
<script type="text/javascript">
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('delete-{{product.id}}', () => {
    myInput.focus()
    })
</script>
{% endblock %}